.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumbnail {
  margin: 5px;
  width: 170px;
  height: 100px;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.thumbnail.landscape {
  width: 170px;
  height: 100px;
}

.thumbnail.portrait {
  width: 100px;
  height: 170px;
}
/* .thumbnail img{
    max-height: 100px;
  } */

.thumbnail.selected {
  outline: 3px solid blue;
  /* Highlight border to show selection */
}

.checkmark {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px 8px;
  border-radius: 15px;
}

.editImg {
  position: absolute;
  top: 5px;
  right: 40px;
  font-size: 1.18rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px 8px;
  border-radius: 15px;
}

button {
  min-width: 8rem;
  min-height: 2rem;
}

.hidden {
  display: none;
}
